.logo-words {
  display: inline-block;
  /* Add any additional styling you want for the logo words here */
}

.logo-words h1 {
  margin: 0;
  font-size: xx-large;
  color: cadetblue;
}

.logo-words a {
  text-decoration: none; /* Remove the underline from the link */
}
