.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-btn {
  width: 20%;
  margin-right: 10px;
}

.logo-words {
  display: inline-block;
  /* Add any additional styling you want for the logo words here */
}

.logo-words h1 {
  margin: 0;
  font-size: xx-large;
  color: cadetblue;
}

.logo-words a {
  text-decoration: none; /* Remove the underline from the link */
}

.heading {
  position: relative;
  padding-left: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 66px;
  color: #535252;
}

.right-side {
  width: 15%;
  margin-right: 0%;
  display: flex;
  align-items: center;
}
